.row-col {
  padding: 20px;
  background-color: white;
  margin: 10px 0;
  border-radius: 10px;
}

.row-col:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-title {
  font-size: 22px;
  font-weight: 600;
}

.row-desc {
  margin-top: 24px;
}
